/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
  }

@font-face {
  font-family: 'quatro';
  src: url('/fonts/quatroslab_regular-webfont.eot');
  src: url('/fonts/quatroslab_regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('/fonts/quatroslab_regular-webfont.woff2') format('woff2'),
       url('/fonts/quatroslab_regular-webfont.woff') format('woff'),
       url('/fonts/quatroslab_regular-webfont.ttf') format('truetype'),
       url('/fonts/quatroslab_regular-webfont.svg#quatro_slabregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'etica-semibold';
  src: url('/fonts/lft_etica_semibold-webfont.eot');
  src: url('/fonts/lft_etica_semibold-webfont.eot?#iefix') format('embedded-opentype'),
       url('/fonts/lft_etica_semibold-webfont.woff2') format('woff2'),
       url('/fonts/lft_etica_semibold-webfont.woff') format('woff'),
       url('/fonts/lft_etica_semibold-webfont.ttf') format('truetype'),
       url('/fonts/lft_etica_semibold-webfont.svg#lft_etica_sbsemibold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'etica';
  src: url('/fonts/lft_etica_reg-webfont.eot');
  src: url('/fonts/lft_etica_reg-webfont.eot?#iefix') format('embedded-opentype'),
       url('/fonts/lft_etica_reg-webfont.woff2') format('woff2'),
       url('/fonts/lft_etica_reg-webfont.woff') format('woff'),
       url('/fonts/lft_etica_reg-webfont.ttf') format('truetype'),
       url('/fonts/lft_etica_reg-webfont.svg#lft_eticaregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

body{
  color: #abadad;
  font-family: LFT Etica;
  font-size: 15px;
}

header{
  background-color: #f8695a; 
  display: inline-block;
  box-sizing: border-box;
  height:90px;
  width:50px
  text-align: center;
  padding: 15px;
  margin-left: 40px;
}


.quatro{
  font-family: Quatro Slab;
  font-size: 34px;
  margin-top: 60px;
}

.lft{
  font-family: LFT Etica;
  color: #484e4f;
}

.blue{
  color: #01bfc1;
  text-decoration: none;
  margin-top: 15px;
  display: inline-block;
}

.numbers{
  font-family: Quatro Slab;
  color: #ffffff;
  display: inline-block;
  margin-right: 4px;
}

.square{
  background-color: #01bfc1;
  font-family: LFT Etica;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  display: inline-block;
  padding: 15px;
  margin-left: 20px;
  width: 100px;
}

body{
  background-color: #1a2325;
}

.bordertop2{
  border-top: 3px solid #f8695a;
  margin:0;
}

.image1{
  float:right;
  padding-left:60px;
  clear:both;
  margin-right: 0px;
}

.image2{
  float:right;
  padding-left:60px;
  clear:both;
  margin-right: 0px;
}

.image3{
  float:right;
  padding-left:60px;
  clear:both;
  margin-right: 0px;
  margin-bottom: 20px;
}

.bottomborder{
  border-bottom: 1px solid #484e4f;
  padding-top: 20px;
  margin-left: 40px;
}

.bottomborder2{
  border-bottom: 1px dotted #484e4f;
  max-width: 600px;
  padding-top: 20px;
}

p{
  max-width:600px;
  max-height:2500px;
  margin-top: 10px;
}

footer{
  padding-top: 20px;
}

.section{
  margin-left: 40px;
  clear: left;
}



@media (max-width: 400px) {
 
 .image1{
  width: calc(100%);
  margin-top: 0px;
  margin-left: 20px;
  margin-bottom: 30px;
}

.image2{
  width: calc(100%);
  margin-top: 0px;
  margin-left: 20px;
  margin-bottom: 30px;
}

.image3{
  width: calc(100%);
  margin-top: 0px;
  margin-left: 20px;
}

body{
  margin-right: 10px;
}

.bottomborder{
  padding-bottom: 50px;
}

  
}


@media (min-width: 400px) {
  
   .image1{
  float:right;
  padding-left:60px;
  clear:both;
  margin-right:50px;
}

.image2{
  float:right;
  padding-left:60px;
  clear:both;
  margin-right:50px;
}

.image3{
  float:right;
  padding-left:60px;
  clear:both;
  margin-right:50px;
  margin-bottom: 20px;
}

.bottomborder{
  padding-bottom: 500px;
}

}