*{
  color: #abadad;
  font-family: LFT Etica;
  font-size: 15px;
}

header{
  background-color: #f8695a; 
  display: inline-block;
  box-sizing: border-box;
  height:82px;
  width:70px
  text-align: center;
  padding: 30px;
  margin-left: 40px;
}


.quatro{
  font-family: Quatro Slab;
  font-size: 34px;
}

.lft{
  font-family: LFT Etica;
  color: #484e4f;
}

.blue{
  color: #01bfc1;
  text-decoration: none;
}

.numbers{
  font-family: Quatro Slab;
  font-size: 20px;
  color: #ffffff;
  display: inline-block;
  margin-right: 4px;
}

.square{
  background-color: #01bfc1;
  font-family: LFT Etica;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  padding: 15px;
  margin-left: 20px;
}

body{
  background-color: #1a2325;
}

#bordertop2{
  border-top: 3px solid #f8695a;
  margin:0;
}

#image1{
  float:right;
  clear:both;
  padding-left:60px;
  margin-top: -300px;
}

#image2{
  float:right;
  clear:both;
  padding-left:60px;
}

#image3{
  float:right;
  clear:both;
  padding-left:60px;
}

.bottomborder{
  border-bottom: 1px solid #484e4f;
  padding-top: 20px;
  margin-left: 40px;
}

.bottomborder2{
  border-bottom: 1px dotted #484e4f;
  max-width: 800px;
  padding-top: 20px;
}

p{
  max-width:800px;
  max-height:2500px;
}

footer{
  padding-top: 20px;
}

.section{
  margin-left: 40px;
}