*{
  color: #abadad;
  font-family: LFT Etica;
  font-size: 15px;
}

header{
  background-color: #f8695a; 
  display: inline-block;
  padding: 30px;
}


.quatro{
  font-family: Quatro Slab;
  font-size: 34px;
}

.lft{
  font-family: LFT Etica;
  color: #484e4f;
}

.blue{
  color: #01bfc1;
  text-decoration: none;
}

.numbers{
  font-family: Quatro Slab;
  font-size: 20px;
  color: #ffffff;
  display: inline-block;
  margin-right: 4px;
}

.square{
  background-color: #01bfc1;
  font-family: LFT Etica;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  padding: 15px;
}

body{
  background-color: #1a2325;
  border-top: 3px solid #f8695a;
  position:relative;
  margin-left: 40px;
}

.image{
  display:inline-block;
  position: absolute;
  right: 0px;
}